@using BarmenShop.Models.ViewModels.Account
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="page mx-auto" style="max-width:400px;">
    <div class="header">
        <h1 class="logo">Регистрация</h1>
    </div>
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input asp-for="Email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputUsername">Логин</label>
                <input asp-for="Login" type="text" class="form-control" id="inputUsername" placeholder="Логин">
                <span asp-validation-for="Login" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                <span asp-validation-for="Password" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputConfirmPassword">Подтвердить пароль</label>
                <input asp-for="PasswordConfirm" type="password" class="form-control" id="inputConfirmPassword" placeholder="Повторите пароль">
                <span asp-validation-for="PasswordConfirm" class="form-text text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
        </form>    
    </div>
    <div class="option mt-2">
        <p>Есть аккаунт? <a asp-action="Login" asp-controller="Account">Войти</a></p>
    </div>
</div>
  


